<div class="box" [formGroup]="defenderForm">
    <div class="u-mb il">
        <h4>Morale</h4>
        <app-counter-input [counterRangeMin]="2" [counterRangeMax]="12" formControlName="morale"></app-counter-input>
    </div>
    <div class="u-mb il">
        <h4>Defence</h4>
        <app-counter-input [counterRangeMin]="2" [counterRangeMax]="6" formControlName="def"></app-counter-input>
    </div>
    <div class="u-mb il">
        <h4>Wounds</h4>
        <app-counter-input [counterRangeMin]="1" [counterRangeMax]="12" formControlName="defenderWounds"></app-counter-input>
    </div>
</div>
