html,
* {
  font-family: "Palatino", serif;
}

.app {
  padding: 20px;
  color: #FFF;
  text-align: center;

}

.app__title {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

path {
  fill: transparent;
}

text {
  fill: #FF9800;
}

label {
  width: 300px;
  display: inline-block;
}

.box {
  background: rgba(0,0,0, .5);
  padding: 20px;
  margin-bottom: 20px;
}
