<div class="app" style="text-align: center">
  <div class="app-title-wrapper">
    <h1 class="app__title">More or less Killy...
    </h1>
  </div>


  <div class="p">
    <app-defender-settings [defenderSubject$]="defenderSubject$"></app-defender-settings>
  </div>

  <hr>

  <div>
    <div style="display: inline-block; width: 50%; border-right: 1px solid">
      <div class="p">
        <h2>Attack Option 1</h2>
        <app-attacker-settings [attackerSubject$]="attackerSubject1$"></app-attacker-settings>
        <div *ngIf="defenderSubject$.getValue() && attackerSubject1$.getValue()">
          <app-result  [defender$]="defenderSubject$" [attacker$]="attackerSubject1$"></app-result>
        </div>
      </div>

    </div>
    <div style="display: inline-block; width: 50%">
      <div class="p">
        <h2>Attack Option 2</h2>
        <app-attacker-settings [attackerSubject$]="attackerSubject2$"></app-attacker-settings>
        <div *ngIf="defenderSubject$.getValue() && attackerSubject1$.getValue()">
          <app-result [defender$]="defenderSubject$" [attacker$]="attackerSubject2$"></app-result>
        </div>
      </div>
    </div>
  </div>

</div>


