<div [formGroup]="attackerForm">
    <div class="box">
        <ng-content></ng-content>

        <div class="il u-mb">
            <h4>Dice</h4>
            <app-counter-input [counterRangeMin]="2" [counterRangeMax]="12" formControlName="diceCount"></app-counter-input>
        </div>
        <div class="il u-mb">
            <h4>To hit</h4>
            <app-counter-input [counterRangeMin]="2" [counterRangeMax]="6" formControlName="toHit"></app-counter-input>
        </div>

        <div class="u-mb il">
            <h4>Modify panic-damage</h4>
            <app-counter-input [counterRangeMin]="-3" [counterRangeMax]="5" formControlName="extradDamageOnFailedPanictest"></app-counter-input>
        </div>

        <div>
            <div class="il u-mb">
                <label class="token-toggle token-toggle--weakened"
                    ><input type="checkbox" formControlName="weakened" />
                    <span class="token-toggle-wrapper"><img src="assets/WeakenedToken.png" /></span>
                </label>

                <label class="token-toggle token-toggle--vulnerable"
                    ><input type="checkbox" formControlName="vulnerable" />
                    <span class="token-toggle-wrapper"><img src="assets/VulnerableToken.png" /></span>
                </label>

                <label class="token-toggle token-toggle--panicked"
                    ><input type="checkbox" formControlName="panicked" />
                    <span class="token-toggle-wrapper"><img src="assets/PanicToken.png" /></span>
                </label>
            </div>

            <div class="il u-mb">
                <mat-slide-toggle formControlName="reroll">Reroll</mat-slide-toggle>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>

        <div>
            <mat-slide-toggle formControlName="sundering">Sundering</mat-slide-toggle>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-slide-toggle formControlName="critBlow">Critical Blow</mat-slide-toggle>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-slide-toggle formControlName="vicious">Vicious</mat-slide-toggle>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-slide-toggle formControlName="precision">Precision</mat-slide-toggle>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
