<div [formGroup]="attackerForm">
    <div class="box">
        <ng-content></ng-content>

        <div class="il u-mb">
            <h4>Dice</h4>
            <app-counter-input
                [counterRangeMin]="2"
                [counterRangeMax]="12"
                formControlName="diceCount"
            ></app-counter-input>
        </div>
        <div
            class="il u-mb"
            style="padding-right: 10px; margin-right: 10px; border-right: 1px solid rgba(255, 255, 255, 0.2)"
        >
            <h4>To hit</h4>
            <app-counter-input [counterRangeMin]="2" [counterRangeMax]="6" formControlName="toHit"></app-counter-input>
        </div>

        <div class="u-mb il">
            <h4>Panic-test</h4>
            <app-counter-input
                [counterRangeMin]="-10"
                [counterRangeMax]="10"
                formControlName="modifyDefenderPanicTest"
            ></app-counter-input>
        </div>

        <div
            class="u-mb il"
            style="padding-right: 10px; margin-right: 10px; border-right: 1px solid rgba(255, 255, 255, 0.2)"
        >
            <h4>Panic-damage</h4>
            <app-counter-input
                [counterRangeMin]="-3"
                [counterRangeMax]="5"
                formControlName="modifyDamageOnFailedPanictest"
            ></app-counter-input>
        </div>

        <div class="u-mb il">
            <h4>Auto-hits</h4>
            <app-counter-input
                [counterRangeMin]="0"
                [counterRangeMax]="4"
                formControlName="autoHits"
            ></app-counter-input>
        </div>

        <div>
            <div class="il u-mb">
                <label class="token-toggle token-toggle--weakened"
                    ><input type="checkbox" formControlName="weakened" />
                    <span class="token-toggle-wrapper"><img src="assets/WeakenedToken.png" /></span>
                </label>

                <label class="token-toggle token-toggle--vulnerable"
                    ><input type="checkbox" formControlName="vulnerable" />
                    <span class="token-toggle-wrapper"><img src="assets/VulnerableToken.png" /></span>
                </label>

                <label class="token-toggle token-toggle--panicked"
                    ><input type="checkbox" formControlName="panicked" />
                    <span class="token-toggle-wrapper"><img src="assets/PanicToken.png" /></span>
                </label>
            </div>

            <div class="il u-mb">
                <mat-slide-toggle formControlName="reroll">Reroll</mat-slide-toggle>
            </div>
        </div>

        <div>
            <div class="u-mb il" style="margin-right: 30px">
                <mat-slide-toggle formControlName="sundering">Sundering</mat-slide-toggle>
            </div>
            <div class="u-mb il" style="margin-right: 30px">
                <mat-slide-toggle formControlName="critBlow">Critical blow</mat-slide-toggle>
            </div>
            <div class="u-mb il" style="margin-right: 30px">
                <mat-slide-toggle formControlName="precision">Precision</mat-slide-toggle>
            </div>
            <div class="u-mb il">
                <mat-slide-toggle formControlName="noDefenseRolls">No defense rolls</mat-slide-toggle>
            </div>
        </div>
    </div>
</div>
